<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- מאפשר לאפליקציה גישה לאינטרנט (נחוץ בשביל הפיירבייס והקלאודינארי) -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- ההרשאה הישנה שמאפשרת לאפליקציה לגשת לקבצים ותמונות במכשירים עם אנדרואיד 12 ומטה -->
    <!-- ההרשאה הזו תפעל רק עד גרסה 12 (API 32), כי בגרסאות חדשות יותר (13 ומעלה) היא כבר לא תקפה והוחלפה ב-READ_MEDIA_IMAGES. -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- גוגל ביטלה את ההרשאה הכללית לכל הקבצים (READ_EXTERNAL_STORAGE) והחליפה אותה בהרשאות ספציפיות כדי לשמור על פרטיות המשתמש -->
    <!-- ההרשאה החדשה שמאפשרת לאפליקציה לגשת רק לתמונות במכשירים עם אנדרואיד 13 ומעלה -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- מאפשר לאפליקציה לקבל גישה פיזית למצלמה של המכשיר כדי שהמשתמש יוכל לצלם תמונות -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- מדווח למערכת אנדרואיד באילו רכיבי חומרה האפליקציה מתכננת להשתמש -->
    <!-- מגדירה שהמצלמה היא תכונה לא חובה, כך שגם מכשירים ללא מצלמה יוכלו להוריד את האפליקציה -->
    <!-- ללא השורה הזאת מכשירים ללא מצלמה בטלפון לא יוכלו להוריד את האפליקציה -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".AppInitializer"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnglishKingdom">

        <!-- מסך הלמידה -->
        <activity
            android:name=".Activities.LearnActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- מגדיר את המסך הזה (Splash) כמסך היחיד שדרכו נכנסים לאפליקציה, ולכן הוא ייפתח ראשון בכל פעם -->
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!-- רכיב המגדיר למערכת אנדרואיד כיצד ומתי להפעיל את המסך (Activity) הספציפי הזה -->
            <intent-filter>

                <!-- מגדיר את המסך הזה כנקודת הכניסה הראשית והראשונה שתיפתח כשהאפליקציה מופעלת -->
                <action android:name="android.intent.action.MAIN" />
                <!-- הגדרת המסך הזה כנקודת הכניסה של האפליקציה שמופיעה כאייקון בתפריט המכשיר -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- מסך הלוג אין - exported=false פירושו שרק האפליקציה שלנו יכולה לפתוח מסך זה -->
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- מסך ההירשמות - exported=false פירושו שרק האפליקציה שלנו יכולה לפתוח מסך זה -->
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- מסך הבית - exported=false פירושו שרק האפליקציה שלנו יכולה לפתוח מסך זה -->
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- מסך המילים -->
        <activity
            android:name=".Activities.WordsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- מסך פרופיל -->
        <activity
            android:name=".Activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- מסך מדריך איך לשחק -->
        <activity
            android:name=".Activities.HowToPlayActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- FileProvider - מאפשר לאפליקציה שלנו לשתף קבצים עם אפליקציית המצלמה בצורה מאובטחת -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>